
<div class="card border-primary mt-5">
    <div *ngIf="loading">
        <app-loading-spinner></app-loading-spinner>
    </div>
    <div class="card-body">
            <form [formGroup]="userEmail" (ngSubmit)="onSubmitUserlogin()"*ngIf="email === false || email === undefined">
                <div class="d-flex justify-content-center flex-wrap mt-5">
                    <div class="form-group">
                        <label for="email">email</label>
                        <input type="text" id="email" class="form-control" formControlName="email">
                        <p *ngIf="!userEmail.controls.email.valid && userEmail.controls.email.touched" class="obligation">*Champs obligatoire</p>
                        <p class="obligation" *ngIf="email === false">*L'email n'est pas bon</p>
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-5">
                    <button type="submit" class="btn btn-outline-primary" [disabled]="userEmail.invalid">Envoyer</button>
                </div>
                
            </form>
        <p *ngIf="email === true" class="text-center mt-5">Un email avec un mot de passe provisoire vient de vous êtes envoyé</p>
        <p *ngIf="email === true" class="text-center">Cliquez <span [routerLink]="['/']">ici</span> pour être rediriger vers l'accueil</p>
    </div>
</div>
