.presentationIuser{
    border-top: 1px solid
}
.cursor{
    cursor: pointer;
}

textarea{
    color: #0d6efd!important;
    font-size: 1.5em;
  }

#photo {
    display: none;
}

.updatePhoto {
    cursor: pointer;
    color: #0d6efd!important;
    font-weight: bold;
}
.updatePhoto:hover {
    color: #3284ff!important;
}

.obligation{
    color: red;
  }