.photoUser{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid blue;
}
.pseudoUser{
    margin: auto;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}

.presentationIuser{
    border-radius: .25rem;
    border: 1px solid
}
.cursor{
    cursor: pointer;
}