<div *ngIf="!loading">
    <app-loading-spinner></app-loading-spinner>
</div>

<div *ngIf="loading">
    <div class="mt-2 mb-2 cursor" style="margin-right: 2%;margin-left: 2%;">
        <div class="text-center" (click)="back()" style="cursor: pointer;">
            <span class="muted text-center"  style="font-size: large;"><i class="bi bi-arrow-left" style="margin-right: 0.5%;"></i>Retour en arrière</span>
        </div>
        <p class="text-center" style="font-size: x-large;font-weight: bold;">Choisir un sujet de discussion et les participants</p>
        <input type="text" id="sujet" class="form-control" [(ngModel)]="sujetChat" placeholder="Sujet de discussion...">
    </div>



    <div class="card" style="margin-left: 25%;margin-right: 25%;">
        <h5 class="card-header text-center" style="font-size: x-large;font-weight: bold;">Choisir les participants</h5>

        <div class="card-body" style="padding: 0!important;">
                <div *ngFor="let user of users | orderby:'asc':'pseudo'" class="users mb-2" (click)="participant(user)"
                style="margin-left: 25%;margin-right: 25%;">
                    <div *ngIf="user.participant == false">
                        <div  class="card text-primary d-flex justify-content-center flex-wrap text-center">
                            <div>
                                <img [src]="'data:image/jpeg;base64,'+ user.photo" alt="photo" class="photoUser">
                            </div>
                            <p class="text-center mt-3 textUser">{{user.pseudo}}</p>
                        </div>
                    </div>
                </div>
            <div style="border-top: 1px solid #dee2e6;padding-top: 0.75rem;">
                <p *ngIf="participantsDone" style="color: red;">*Veuillez choisir des participants</p>
                <p class="text-center">participants</p>
                <span *ngFor="let participant of participants" class="participant" (click)="enleverParticipant(participant)">
                    {{participant.pseudo}} <span style="font-weight: bold;">X</span>
                </span>
            </div>
        </div>

        <div style="border-top: 1px solid #dee2e6;padding-top: 0.75rem;padding-bottom: 0.75rem;" class="text-center">
            <button type="button" class="btn btn-primary" (click)="lancementChat()" [disabled]="!sujetDone">Lancement du chat</button>
        </div>
    </div>
</div>