<div class="input-group mb-3 userBlockMobil" style="margin: auto;">
    <input type="text" class="form-control mt-2" placeholder="Recherche par pseudo..." id="serchUser">
</div>

<div *ngIf="loading">
    <app-loading-spinner></app-loading-spinner>
</div>

<div *ngFor="let user of users" class="userBlockMobil col-md-4" style="margin: auto;">
    <div *ngIf="user.search == false" class="card border-primary mb-2" >
        <div  class="card-body text-primary text-center">
                <img [src]="user.buffer" alt="photo" class="photoUser">
                <p class="pseudoUser mt-2">Pseudo : {{user.pseudo}}</p>
                <p>Prénom :{{user.firstName}}</p>
                <p>Nom : {{user.lastName}}</p>
                <p  class="btn btn-info btn-lg btn-block mt-3 blockButton">Invitation en attente de confirmation</p>
        </div>
    </div>
</div>
