<div *ngIf="!listeDiscuOn && !listeDiscuenCoursOn">   
    <div class="input-group mb-3 userBlockMobil" style="margin: auto;">
        <input type="text" class="form-control mt-2" placeholder="Recherche par pseudo..." id="serchUser">
    </div>

    <div *ngFor="let user of listeUsers" class="userBlockMobil col-md-4" style="margin: auto;">
        <div *ngIf="user.discussionNumberUser > 0">
            <div *ngIf="user.search == false" class="card border-primary mb-2" >
                <div  class="card-body text-primary text-center">
                        <img [src]="user.buffer" alt="photo" class="photoUser">
                        <p class="pseudoUser mt-2">Pseudo : {{user.pseudo}}</p>
                        <p>Prénom :{{user.firstName}}</p>
                        <p>Nom : {{user.lastName}}</p>
                        <button *ngIf="user.discussionenCours.length > 0" type="button" class="btn btn-outline-primary btn-lg btn-block mt-3 blockButton" (click)="alldiscussionenCours(user.discussionenCours)">Discussion un cours</button>
                        <p *ngIf="user.discussionenCours.length === 0" class="btn-info btn-lg btn-block mt-3 text-center blockButton">N'est pas dans une discussion en cours</p>
                        <button type="button" class="btn btn-outline-primary btn-lg btn-block mt-3 blockButton" (click)="allDiscussions(user.discussionListe)">Liste discussions ({{user.discussionNumberUser}})</button>
                </div>
            </div>
        </div>
    </div>
</div> 

<div *ngIf="listeDiscuOn">
    <div class="userBlockMobil col-md-4" style="margin: auto;">
        <div class="card border-primary" >
            <div class="d-flex justify-content-end">
                <span class="mt-2" (click)="retour()" style="cursor: pointer;width: fit-content;margin-right: .5rem!important;">X</span>
            </div>
            
            <div  class="card-body text-primary">
                <div *ngFor="let user of listeDiscu">
                    <p class="text-center">{{user.pseudo}}</p>
                </div>
               
            </div>
       </div>
   </div>
</div>

<div *ngIf="listeDiscuenCoursOn">
    <div  class="userBlockMobil col-md-4" style="margin: auto;">
        <div class="card border-primary" >
            <p class="text-end mr-2 mt-2" (click)="retour()" style="cursor: pointer;">X</p>
            <div  class="card-body text-primary">
                <div *ngFor="let user of listeDiscuenCours">
                    <p class="text-center">{{user.pseudo}}</p>
                </div>
              
            </div>
       </div>
   </div>
</div>

