<div class="input-group mb-3 userBlockMobil" style="margin: auto;">
    <input type="text" class="form-control mt-2" placeholder="Recherche par pseudo..." id="serchUser">
</div>

<p *ngIf="pasDeRecommandation" class="text-center text-primary" style="font-weight: bold;padding-top: 1%;">Pas de recommandation en cours</p>

<div *ngIf="loading">
    <app-loading-spinner></app-loading-spinner>
</div>

<div *ngFor="let user of users;" class="userBlockMobil col-md-4" style="margin: auto;">
    <div *ngIf="user.search == false" class="card border-primary mb-2" >
        <p class="text-primary text-center">Recommandation de {{user.pseudoOrigineRecommandation}}</p>
        <div  class="card-body text-primary text-center">
                <img [src]="user.buffer" alt="photo" class="photoUser">
                <p class="pseudoUser mt-2">Pseudo : {{user.pseudo}}</p>
                <p>Prénom :{{user.firstName}}</p>
                <p>Nom : {{user.lastName}}</p>
                <button *ngIf="user.invitation == false" (click)="envoyerUneInvitation(user)" type="button" class="btn btn-outline-primary btn-lg btn-block mt-3 blockButton">Envoyer une invitation</button>
                <button *ngIf="user.invitation == false" (click)="ignorerUneInvitation(user)" type="button" class="btn btn-outline-danger btn-lg btn-block mt-3 blockButton">Ignorer invitation</button>
                <p *ngIf="user.invitation == true" class="btn btn-info btn-lg btn-block mt-3 blockButton">{{resInvitation}}</p>
        </div>
    </div>
</div>
