.photo{
    height: 150px;
    width: 180px;
    border-radius: 50%;
  }

  h5{
    font-weight: bold;
    font-size: large;
}

  .blockCv{
    margin-left: 25%;
    margin-right: 25%;
  }
  a{
    text-decoration:none;
  }

  .linkedin{
    height: 4rem;
  }