.photo{
    height: 150px;
    width: 180px;
    border-radius: 50%;
  }

  h5{
    font-weight: bold;
    font-size: 1.2rem;
}

  .blockCv{
    margin: auto;
  }
  a{
    text-decoration:none;
  }

  .linkedin{
    height: 4rem;
  }