<div class="card border-primary mt-3 blockCv col-md-6 col-lg-4 text-center">
    <div class="card-body text-primary">
        <div>
            <div class="d-flex justify-content-center">
                <img src="../../assets/img/eddy-1.jpg" alt="photo" class="photo">
            </div>
            <div>
                <h5 class="card-title mt-2">Bonjour à tous !</h5>
                <div>
                    <p>Je m'appelle Eddy et je suis le concepteur du site Reseau Social.</p>
                    <p>Le site est développé côté Front avec Angular et pour le back avec Node JS.</p>
                    <p>Pour stocker les données, j'ai utilisé la base de donnée MongoDB.</p>
                </div>
                <div class="card-text">
                    <p >Les principales fonctions de ce "réseau social" sont les suivantes : </p>
                    <p>- Rajouter des utilisateurs à votre liste d'amis</p>
                    <p>- Proposer des amis à vos amis</p>
                    <p>- Lancer une discussion instannée avec un ami</p>
                    <p>- Avoir un espace avec votre profil</p>
                    <p>- Publier des messages sur votre profil ainsi que ceux de vos amis</p>
                    <p>- Lancer un chat sur le sujet que vous voulez avec les amis souhaités</p>
                </div>
                
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <a href="https://www.linkedin.com/in/eddy-tabuteau-320b97196/" target="_blank"><img src="../../assets/img/linkedin.png" class="linkedin" alt="linkedin"></a>
        </div>
        <div class="d-flex justify-content-center" >
            <a href="../../assets/cv/cv.eddy.tabuteau.pdf" download="cv-Eddy-Tabuteau"><button type="button" class="btn btn-outline-primary btn-lg btn-block mt-3">Télécharger mon CV</button></a>
            
        </div>
        
        
        
    </div>
</div>
