<div class="card border-primary mt-5 blockCv">
    <div class="card-body text-primary">
        <div>
            <div class="d-flex justify-content-center">
                <img src="../../assets/img/eddy-1.jpg" alt="photo" class="photo">
            </div>
            <div>
                <h5 class="card-title">Bonjour à tous !</h5>
                <div>
                    <p>Je m'appelle eddy et je suis le concepteur du site Reseau Social.</p>
                    <p>Le site est développer côté Front avec Angular et pour le back avec Node JS.</p>
                    <p>Pour stocker différentes informations, j'ai utilisé la base de donnée MongoDB.</p>
                </div>
                <div>
                    <p class="card-text">Avant, j'étais dans la comptabilité , mais ça c'était avant...
                        Passionné par la création numérique je suis maintenant développeur full stack JS.
                    <p>
                    <p>Je suis disponible.</p>
                    <p>Rencontrons nous !</p>
                </div>
                
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <a href="https://www.linkedin.com/in/eddy-tabuteau-320b97196/" target="_blank"><img src="../../assets/img/linkedin.png" class="linkedin" alt="linkedin"></a>
        </div>
        <div class="d-flex justify-content-center" >
            <a href="../../assets/cv/cv.eddy.tabuteau.pdf" download="cv-Eddy-Tabuteau"><button type="button" class="btn btn-outline-primary btn-lg btn-block mt-3">Télécharger mon CV</button></a>
            
        </div>
        
        
        
    </div>
</div>
