/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.muted{
    opacity: 0.5;
}

.photoUser{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid blue;
    padding: 0px;
}
.pseudoUser{
    font-size: 1.5rem;
    font-weight: bold;
}

.textUser{
    font-size: 1.5rem;
}

@media screen and (max-width: 767px) {
    .blockMobil {
      width: 90%;
    }
}

.blockButton{
    width: 80%;
    margin: auto!important;
}


@media screen and (max-width: 767px) {
    .userBlockMobil {
      width: 80%!important;
    }
}

