<div class="input-group mb-3 userBlockMobil" style="margin: auto;">
    <input type="text" class="form-control mt-2" placeholder="Recherche par pseudo..." id="serchUser">
</div>

<div *ngFor="let user of listeUsers" class="userBlockMobil col-md-4" style="margin: auto;">
    <div *ngIf="user.search == false" class="card border-primary mb-2" >
        <div  class="card-body text-primary text-center">
                <img [src]="user.buffer" alt="photo" class="photoUser">
                <p class="pseudoUser mt-2">Pseudo : {{user.pseudo}}</p>
                <p>Prénom :{{user.firstName}}</p>
                <p>Nom : {{user.lastName}}</p>
                <button *ngIf="!user.deleteUser" type="button" class="btn btn-outline-primary btn-lg btn-block mt-3 blockButton"
                 [routerLink]="['/mon-profil/' + user.pseudo]">Voir Profil</button>
                <button *ngIf="!user.deleteUser && user.pseudo !== userDemandeur" type="button" class="btn btn-outline-danger btn-lg btn-block mt-3 blockButton" (click)="deleteUser(user)">Supprimer utilisateur</button>
                <p *ngIf="user.deleteUser" class="btn btn-success btn-lg btn-block mt-3 blockButton">utilisateur supprimé</p>
        </div>
    </div>
</div>
